{% extends 'bulma_base.html' %}


{% block content %}

<!-- このサイトについて -->
<section id='aboutsite'>
    <h5 class='text-secondary'><u>About This Site <small>このサイトについて</small></u></h5>
    <p>
        このポートフォリオサイトは私的な作品集です。過去に製作したアプリケーションと共通の技術を使ってはおりますが、データ等はいかなる企業、団体に属するものではありません。
    </p>
    <p>
        お気付きの点がございましたら
        <a href="https://asemolotion-blog.herokuapp.com/contact/" target="_blank">
        ブログのコンタクトページ</a>
        よりご連絡頂けますと幸いです。
    </p>
</section>

<!-- 招待コードについて -->
<section id='aboutinvitationcode'>
    <h5 class=''><u>About Invited Code <small>招待コードについて</small></u></h5>

    <p>
        このポートフォリオサイトは私の就職活動や、仕事のご依頼を受ける際の参考としても利用しています。</p>
    <p>
        性質上全ての方に公開するにふさわしくないかもしれないページがございます。
    </p>
    <p>
        招待コードをお持ちのかたはサイトの下部に入力いただけますと、制限されている内容を含む全ての内容をご確認いただけます。
    </p>

    <p>
        コードにも有効期限がございますので、何かございましたら
        <a href="https://asemolotion-blog.herokuapp.com/contact/" target="_blank">
        ブログのコンタクトページ</a>よりご連絡いただけますと幸いです。
    </p>
</section>

<!-- 私について -->
<section id='aboutme'>
    <h5 class=''><u>About Me <small>私について</small></u></h5>

    <table class='table'>
            <tr>
                <th>NAME</th>
                <td>asemolotion</td>
            </tr>
            <tr>
                <th>BIRTH</th>
                <td>1990.4.19</td>
            </tr>
            <tr>
                <th>CITY</th>
                <td>長崎県長崎市</td>
            </tr>
            <tr>
                <th>HOBBY</th>
                <td>新聞や本を読んで過ごすこと・セルフ散髪・トレーニング</td>
            </tr>
            <tr>
                <th>SKILL</th>
                <td>☆☆Python・Django　☆Angular/Vue.jsなど</td>
            </tr>
            <tr>
                <th>BLOG</th>
                <td>
                    <a href="https://asemolotion-blog.herokuapp.com/">ブログ</a>
                </td>
            </tr>
            <tr>
                <th>PROGRAMMING CAREER</th>
                <td>2017.04〜 独学で勉強しました</td>
            </tr>
            <tr>
                <th>EMAIL</th>
                <td>
                    <a href="mailto:asemolotion@gmail.com">asemolotion@gmail.com</a>
                </td>
            </tr>
            <tr>
                <th>SNS</th>
                <td>
                    <a href="https://github.com/asemolotion">
                        <img src="https://img.icons8.com/ios-filled/40/000000/github.png">
                    </a><br>
                    <small>this icon by <a href="https://icons8.com/icon/12599/ios-filled">iOS Filled icon by Icons8</a></small>
                </td>
            </tr>
            <tr>
                <th>COMMENT</th>
                <td>
                    <p>
                        長崎でフリーランスのプログラマをしていますasemolotionと言います。</p>
                    <p>
                        Aから始まる言葉で最初に思い浮かんだ言葉だったので「あせもローション」にしました。
                        それ以上の意味はないです。
                    </p>
                    <p>
                        私は独学でプログラミングを学んできましたので、その過程でできるようになったことの一部をこのサイトに記録して行こうと思います。</p>
                    </p>
                </td>
            </tr>
    </table>

</section>

{% endblock content %}
    