{% extends 'bulma_base.html' %}


{% block content %}

<h5 class='title is-6 has-text-right has-text-info'>
    このサイトの<a href="https://github.com/asemolotion/asemolotion_portfolio">githubリポジトリ</a>
</h5>


<section class='section'>
    <h5 class='title is-5 has-text-info has-text-centered'>
        works
    </h5>
    <div class='container columns'>
        {% for project in project_list %}
        <div class='column'>
            <div class='card'>
                <div class='card-content'>
                    
                    <a href="{% url 'general:project' project.pk %}">
                        {{ project.name }}
                    </a>    
                </div>
            </div>
        </div>        
        {% endfor %}              
    </div>
</section>



{% endblock content %}
    


