{% extends 'bulma_base.html' %}

{% block content %}

<main class='columns'>
    <article class='column'>
        <section class='box'>
            <h1 class='title'>{{ object.name }}

            {% if request.user.is_superuser %}
            <a href="/admin/general/project/{{ object.pk }}/change/"><small>Edit</small></a>
            {% endif %}

            </h1>
                    
            <div class='level'>
                <div class='level-right'>
                    <p>
                        {% for tag in object.tags.all %}
                        <span class='tag is-link is-rounded'>{{ tag.name }}</span>
                        {% endfor %}                  
                    </p>
                    <p>{{ object.overview }}</p>
                </div>
                <div class='level-left'>
                    
                    
                    <a class='button is-primary level-item'
                    target="_blank"
                    href="/{{ object.slug }}/">実際のアプリ・デモをみる</a>

                </div>
            </div>
            <div class='content'>
                <!-- bulmaを効かせるために class='content'が必要 -->
                {{ object.formatted_markdown | safe }}
            </div>
        </section>
    </article>
</main>

{% endblock content %}
    
