{% extends 'bs4_base.html' %}
{% load static %}


{% block content %}
<style type="text/css">
/* keras_mnistが参考 */
video {
    width: 100%;
}
</style>    

<div class='container'>

    <section id='description' class='mt-3'>
        <h3><u>LINE チャットボット</u></h3>
        <p class='text-info'>
            このアプリはLINE友達追加でご確認いただけます。
        </p>
        機能
        <li>
            Asemolotionアプリのアカウントに、送信すれば、「です」をつけてオウム返しする。
        </li>
            
    </section>


</div>

{% endblock content %}
    