{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <title>Portfolio</title>
    
    
    <!-- headタグに入れるもの -->
    {% block head %}
    {% endblock head %}
</head>
<body>
    
    {% block header %}
    {% endblock header %}
    
    {% block content %}
    {% endblock content %}
    
    {% block scripts %}
    {% endblock scripts %}

</body>
</html>